In [1]:
from pycaret.regression import RegressionExperiment
from pycaret.classification import ClassificationExperiment
import pandas as pd
from tqdm import tqdm

In [2]:
data = pd.read_csv('../Datasets/adult.csv')
target_column = 'income'
model_name = 'adult'
exp = ClassificationExperiment()

In [3]:
exp.setup(data, target=target_column, session_id=123)

In [19]:
from tqdm.notebook import trange, tqdm
model = exp.compare_models(include=['knn', 'lr'], sort='Prec.')

In [15]:
print(model)

0it [00:04, ?it/s]

In [11]:

from time import sleep

text = ""
for char in tqdm(["a", "b", "c", "d"]):
    sleep(5)
    text = text + char

  0%|          | 0/4 [00:00<?, ?it/s]

In [7]:
results = exp.pull()

In [8]:
results

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
lr,Logistic Regression,0.7984,0.6168,0.2711,0.7081,0.3906,0.2978,0.3479,0.761
knn,K Neighbors Classifier,0.7766,0.6766,0.3221,0.5577,0.4082,0.2825,0.2988,0.782

In [9]:
for column in results.columns:
    print(column)

Model
Accuracy
AUC
Recall
Prec.
F1
Kappa
MCC
TT (Sec)

In [38]:
results[results.index == 'Mean']

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
Mean    0.7984  0.6168  0.2711  0.7081  0.3906  0.2978  0.3479

In [37]:
for metric in results.columns:
    print(results[results.index == 'Mean'][metric].values[0])

0.7984
0.6168
0.2711
0.7081
0.3906
0.2978
0.3479

In [12]:
results.drop(['TT (Sec)','Kappa', 'MCC'], axis=1, inplace=True)

In [13]:
results

                       Model  Accuracy     AUC  Recall   Prec.      F1
rf  Random Forest Classifier    0.8569  0.9040  0.6199  0.7401  0.6745
lr       Logistic Regression    0.7984  0.6168  0.2711  0.7081  0.3906

In [21]:
for metric in results.columns:
    # print first row's metric
    if metric == 'Model':
        continue
    print(metric)
    print(results.iloc[0][metric])

Accuracy
0.8569
AUC
0.904
Recall
0.6199
Prec.
0.7401
F1
0.6745